

// *************************************
//
//   Typography mixins
//   -> All font related mixins and helpers
//
// *************************************


// -------------------------------------
//   IE7 and 8 font fallback mixin - courtesy of CSS-Tricks.com
// -------------------------------------

@mixin font-size($size: 1.6, $line: $size * 1.61803399) {
  font-size: ($size * 17) + px;
  line-height: ($line * 17) + px;
  font-size: $size + rem;
  line-height: $line + rem;
}

// -------------------------------------
//   Font family helper
// -------------------------------------

@mixin font-family($family: "default") {
  @if $family == "default" {
    font-family: 'PT Sans';
    font-weight: 400;
  }
  @if $family == "italic" {
    font-family: 'PT Sans';
    font-weight: '400italic';
  }  
  @if $family == "thinner-title" {
    font-family: 'Lato';
    font-weight: 300;
  }
  @if $family == "thin-title" {
    font-family: 'Lato';
    font-weight: 400;
  }
  @if $family == "bold" {
    font-family: 'Lato';
    font-weight: 700; 
  }
  @if $family == "bolder" {
    font-family: 'Lato';
    font-weight: 900; 
  }  
}