

// *************************************
//
//   Recipe/article grid
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$some-variable: 7em;
$some-color: #3B5998;
$some-color: #c0deed;


// -------------------------------------
//   Base
// -------------------------------------

.article-grid {


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__item {

        display: inline-block;
        width: 50%;
        height: 100px;
        background-color: #3D3D3D;
        text-align: center;
        vertical-align: top;

        @include breakpoint(teen-bear){
            width: 25%;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}


// -------------------------------------
//   Animations
// -------------------------------------

.article-grid__item {

    // Staggered fadein/out animation

    &.ng-enter-stagger,
    &.ng-hide-remove-stagger,
    &.ng-hide-add-stagger,
    &.ng-move-stagger {
      animation-delay:0.05s;
      animation-duration:0;
    }

    &.ng-enter,
    &.ng-hide-remove {
        animation: 0.3s fadeIn;
    }

    &.ng-leave,
    &.ng-hide-add {
        animation: 0.3s fadeOut;
    }

    &.ng-enter,
    &.ng-hide-remove {
        opacity:0;
    }
}