// *************************************
//
//   Hero block
//   -> Home page hero block
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.block {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $block-var:    7em;
    $block-col-fg: #3B5998;
    $block-col-bg: #c0deed;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--hero {
        
    }

}