

// *************************************
//
//   Header logo contents
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$logo-color: $sitecol-1;


// -------------------------------------
//   Base
// -------------------------------------

.logo {

    width: 100%;
    text-align: center;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__text {
        
        @include font-size(5);
        @include font-family("bolder");

        line-height: 3em;
        text-transform: lowercase;
        color: $logo-color;
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}