

// *************************************
//
//   Header logo contents
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$logo-color: $site-col-1;
$logo-color-active: white;


// -------------------------------------
//   Base
// -------------------------------------

.logo {

    width: 100%;
    text-align: left;

    @include breakpoint("teen-bear") {
        text-align: center;
    }

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__text {
        
        @include font-size(5);
        @include font-family("bolder");

        line-height: 2em;
        text-transform: lowercase;
        color: $logo-color;

        transition: color 0.3s ease-in-out;

        @include breakpoint("teen-bear") {
            line-height: 3em;
        }

        [ui-menu-state="is-open"] & {
            color: $logo-color-active;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}