

// *************************************
//
//   Mega-menu Dropdown
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$menu-col-pri: $site-col-1;
$menu-col-sec: $white;


// -------------------------------------
//   Base
// -------------------------------------

.mega-menu {

    position: absolute;
    width: 100%;
    color: $menu-col-sec;
    opacity: 0;
    z-index: -1;

    transition: opacity 0.3s ease-in-out;

    [ui-menu-state="is-open"] & {
        opacity: 1;
        z-index: 1;
    }

    // -------------------------------------
    //   Elements
    // -------------------------------------

    a { color: $menu-col-sec; }


    // ----- Menu item ----- // 

    &__item {
        @include cross-browser-inline-block;
        
        width: 100%;
        vertical-align: top;

        @include breakpoint("teen-bear") {
            width: 50%;
        }


        p {
            @include font-family("thin-title");
            @include font-size(1.2);

            margin: 1em 0;
            letter-spacing: 0.8px;
            &:first-child { margin-top: 0; }
        }

        li {
            @include font-family("thinner-title");

            margin: 0.3em 0;
        }

        form {
            margin: 10px 0 30px 0;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}

// Elements that hide when menu is focused

[ui-hide-when-menu] {

    transition: opacity 0.3s ease-in-out;
    
    [ui-menu-state="is-open"] & {
        opacity: 0;
    }
}