

// *************************************
//
//   Main site navigation
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$nav-color: $sitecol-1;
$nav-color-active: white;


// -------------------------------------
//   Base
// -------------------------------------

.nav {

    border-bottom: 10px solid $nav-color;
    margin-bottom: 10px;

    transition: all 0.3s ease-in-out;

    // -------------------------------------
    //   Elements
    // -------------------------------------

    // ----- Flex container ----- // 

    > ul {
        display: block; // fallback for non-flexbox
        width: 100%; // if displayed as table make sure it is 100% width
        margin: 10px 0;
        max-height: 0;
        overflow: hidden;

        transition: max-height 0.3s ease-in-out;

        @include breakpoint("teen-bear") {
            display: flex;
            justify-content: space-between;
            max-height: 1000px;
        }

        [ui-menu-state="is-open"] & {
            max-height: 1000px;
        }

    }

    // ----- Menu item (wordpress classes) ----- // 

    .menu-item {

        // display: table-cell; // fallback for non-flexbox
        // display: flex;
        // flex: 1 1 auto; // distribute space evenly


        > a {
        
            @include font-size(1.3);
            @include font-family("bolder");

            text-transform: uppercase;
            color: $nav-color;
            transition: color 0.3s ease-in-out;

        }
    }

    [ui-menu-state="is-open"] & {

        border-bottom: 10px solid $nav-color-active;

        .menu-item a {
            color: $nav-color-active;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}