

// *************************************
//
//   Main site navigation
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$nav-color: $sitecol-1;


// -------------------------------------
//   Base
// -------------------------------------

.nav {

    border-bottom: 10px solid $nav-color;
    margin-bottom: 10px;

    // -------------------------------------
    //   Elements
    // -------------------------------------

    // ----- Flex container ----- // 

    > ul {
        display: table; // fallback for non-flexbox
        width: 100%; // if displayed as table make sure it is 100% width
        margin: 10px 0;

        @include breakpoint("teen-bear") {
            display: flex;
            justify-content: space-between;
        }

    }

    // ----- Menu item (wordpress classes) ----- // 

    .menu-item {

        // display: table-cell; // fallback for non-flexbox
        // display: flex;
        // flex: 1 1 auto; // distribute space evenly


        > a {
        
            @include font-size(1.3);
            @include font-family("bolder");

            // display: block;
            // width: 100%;
            // text-align: center;
            text-transform: uppercase;
            color: $nav-color;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}