

// *************************************
//
//   Recipe post type
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$post-max-width: $site-max-width;


// -------------------------------------
//   Base
// -------------------------------------

.post {

    border-bottom: 5px dotted #1A1A1A;
    margin-bottom: 2em;
    padding-bottom: 1em;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Large featured image ----- // 

    &__featured-image {

        width: 100%;
        max-width: $post-max-width;

    }

    &__date {
        @include font-size(1);

        line-height: 40px;
        line-height: 2.5rem;
        font-style: italic;
        color: $site-col-1;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 0;
    }

    &__subtitle {
        @extend .h2;
        
        margin: 50px 0 40px 0;
    }

    &__section {

        margin-bottom: 40px;
    }

    // ----- Other post elements ----- // 

    ul > li {
        margin-bottom: 0.7em;
        font-style: italic;
        letter-spacing: 1px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}