

// *************************************
//
//   Search module
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$some-variable: 7em;
$some-color: #3B5998;
$some-color: #c0deed;


// -------------------------------------
//   Base
// -------------------------------------

.search {


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__input {
        width: 100%;
        line-height: 45px;
        color: #1a1a1a;
        border: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    & -variation {}

}